.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  border: 1px solid #c4c4c4;
  padding: 2em;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  min-width: 300px;
}

.register-form-container .MuiTextField-root {
  margin-bottom: 2em;
}

.register-form-container .MuiFormGroup-root {
  margin-bottom: 1em;
}
